/* Header*/

.left {

    display: inline-block;
    font-family: 'Salina-Trial';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    
    color: #780000;
    
    }
    
    nav{
        margin-top: 30px;
        margin-right: 267px;
    }
    
    .nav {
        display: inline-block;
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        padding: 10px;
        color: #011936;
    }
    
    header ul{
        
        text-align: right;
    }
    
    header li{
       font-size: 18px;
       line-height: 40px;
       height: 40px;
       margin-left: 66px;
       display: inline;
       text-align: right;
       
    }
    header a{
        color: #011936;
        text-decoration: none;
    }
    
    .left {
        float: left;
    }
    
    hr {
        order: 1px solid #011936;
    }
    
    /*main part*/

    .logo{
        width: 83px;
        height: 98px;
        display: inline-block;
        margin: 20px 0 0 50px;
    }

    .faq {
        width: 55px;
        height: 15px;
        margin: 0 20px;
    }

    .container {

        display: flex;
        align-items: center;
        margin-top: 46px;
    }
    
    .logo .faq {
        display: inline-block;
        vertical-align: top;
    }

    table{
        margin: 50px 340px 50px 100px;
    }
    
    h1{

        font-family: 'Salina-Trial';
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
        color: #011936;

    }
    
    .tabl_1 p {
        
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #011936;
    }

    ul{
        font-family: 'Century Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #011936;
    }




    /* FOOTER */ 
    
    footer { 
        padding-top: 2px;
        height: 100%;
        padding-left: 30px;
        background-color: #780000;
    }
    .text {
        color: #ffffff;
        font-size: 20px;
        font-weight: bold;
    
    }
    
    .footer {
        display: inline-block;
    }
    
    .photo {
        position: absolute;
        width: 51px;
        height: 52px;
        left: 1750px;
        top: 2580px;
        
    }
    
    .photo2 {
        position: absolute;
        width: 51px;
        height: 51px;
        left: 1750px;
        top: 2512px;
    }
    
 /*aside menu*/


#aside-toggle {
    background-color: #ffffff;
    cursor: pointer;
    border: 0px;
}

#aside-menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 237px;
    height: 100vh;
    background-color: #ffffff;
    padding: 0px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    border-left: #011936 1px solid;
}

#aside-menu ul {
    padding: 0px;
    margin: 10px 2px 0px 0px;
    text-align: left;
    font-family: 'Century Gothic';
    font-style: normal;
    font-size: 15px;
    color: #011936;


}

#aside-menu.open {
    transform: translateX(0);
}