/*main part*/

.red-box .text-content {
    display: inline-block;
    vertical-align: top;
}

.red-box {
    width: 113px;
    height: 90px;
    background-color: #7b0a0a;
    border-radius: 0 25px 25px 0;
    margin-right: 20px;
}

.text-content {
    max-width: 588px;
    margin-top: 20px;

}

.faq {
    margin: 20px 0px 0px 133px;

}

.container {

    display: flex;
    align-items: center;
    margin-top: 40px;
}

.logo .faq {
    display: inline-block;
    vertical-align: top;
}

table {
    margin: 50px 340px 50px 100px;
}

h1 {

    font-family: 'Salina-Trial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 41px;
    color: #011936;

}

article {
    margin-bottom: 50px;
    margin-right: 200px;
}

article p {
    margin-left: 133px;
    font-size: 18px;
    color: #011936;
    font-family: 'Century Gothic';
}

article li {
    margin-left: 133px;
    font-size: 18px;
    color: #011936;
    font-family: 'Century Gothic';
}

article h2 {
    margin-left: 133px;
    font-size: 18px;
    color: #011936;
    font-family: 'Century Gothic';
}