/*main part*/
.container {
    display: flex;
    justify-content: space-between;
}

.left_A {
    display: inline-block;
}

.title {
    font-family: 'Salina-Trial';
    font-style: normal;
    width: 700px;
    font-size: 30px;
    line-height: 41px;
    color: #011936;
    margin-left: 25px;
    margin-top: 25px;
}

.pro_ict {

    margin-left: 133px;
    font-size: 18px;
    color: #011936;
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400px;
    margin: 50px 50px 50px 133px;
}

.s_2 {
    display: inline-block;
}

.ul_2 {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 18px;
    color: #011936;
    margin: 5px 50px 50px 0;
    list-style-type: none;

}

.s_1 {
    display: inline-block;
    margin-top: 5px;
    margin-left: 130px;
}

.s_1 div {
    margin-top: 16px;
    margin-bottom: 5px;
}

.d_1 {
    margin-top: 50px;
    width: 10px;
    height: 10px;
    border-radius: 25px;
    background: #780000;
}

.li_2 {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #011936;
    margin-bottom: 10px;
}

.right_A {
    display: inline-block;
    display: flex;
    justify-content: right;
}

.poli {
    margin: 100px 300px 20px 50px;
}

table {
    text-align: left;
}