/* NAV */

body{
    background-image: linear-gradient(rgb(220, 218, 214, 0.8), rgb(220, 218, 214, 0.8)), url(../images/photo_1.png);
    padding: 0px;
    margin: 0px;

}
header div {
    font-size: 43px;
    text-align: left;
    line-height: 40px;
    color: #dbd9d5;
    display: inline-block;
}
nav {
   padding: 10px;
    background-color:#780000;

}
header ul{
    
    text-align: right;
}

header li{
   font-size: 18px;
   line-height: 40px;
   height: 40px;
   padding: 20px;
   display: inline;
   text-align: right;
   
}
header a{
    color: #dbd9d5;
    text-decoration: none;
}

.left {
    float: left;
}

/* Who am I */

h1 {
    color: #780000;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.empty {
    background-color: #780000;
    height: 2px;
    width: 30%;
    display: flex;
    justify-content: center;
}

.first {
    color: #780000;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.empty_2 {
    background-color: #780000;
    height: 2px;
    width: 70%;
    display: flex;
    justify-content: center;
}

/* Extra-curricular activities */

.second {
    color: #780000;
    font-size: 24px;
    text-align: center;
    
}

.ul_2 {
    display: flex; 
    justify-content: space-around; 
    padding: 0; 
}

li {
    display: inline-block; 
    text-align: center; 
    margin: 10px; 
}

li img {
    display: block; 
    margin-bottom: 10px; 
    margin-top: 10px;
    height: 256px;
    width: 256px;
}


/* FOOTER */ 

footer { 
    padding-top: 2px;
    height: 100%;
    padding-left: 30px;
    background-color: #780000;
}
.text {
    color: #dbd9d5;
    font-size: 20px;
    font-weight: bold;

}

.footer {
    display: inline-block;
}

.photo img{
    display: inline-block;
    position: absolute;
    left: 1800px;
    top:1130px;
}

.photo2 img{
    display: inline-block;
    position: absolute;
    left: 1800px;
    top:1180px;
}
